@{
  Layout = "_Layout";
}
<div class="container">
  <div style="margin-top: 10px;" class="jumbotron">
    <h1 style="text-align: center;">Welcome Pierre!</h1>
  </div>
  <br>
  <ul style="margin-top: 15px;">
  <li><h4><a href="/vendors">View Vendor List</a></h4></li>
  <li><h4><a href="/vendors/new">Add New Vendor</a></h4></li>
  </ul>

  
</div>